@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

/*
@font-face {
  font-family: "thirsty-soft";
  font-weight: 400;
  font-style: normal;
  src: url(/typography/ThirstySoftRegular.otf);
}

@font-face {
  font-family: "thirsty-soft";
  font-weight: 700;
  font-style: normal;
  src: url(/typography/ThirstySoftExtrabold.otf);
}

@font-face {
  font-family: "TradeGothic";
  font-weight: 400;
  font-style: normal;
  src: url(/typography/TradeGothicLTStd-Cn18.otf);
}

@font-face {
  font-family: "TradeGothic";
  font-weight: 800;
  font-style: normal;
  src: url(/typography/TradeGothic-BoldCondTwenty.otf);
}

@font-face {
 font-family: 'thirsty-soft';
 src: url(/typography/ThirstySoftLight.otf);
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: 'thirsty-soft';
 src: url(/typography/ThirstySoftMedium.otf);
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'thirsty-soft';
 src: url(/typography/ThirstySoftBold.otf);
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: 'thirsty-soft';
 src: url(/typography/ThirstySoftBlack.otf);
 font-weight: 800;
 font-style: normal;
}
 */
